# Lab1A-Data Analytics:
Introduction to Python

Question1:

In [75]:
# Import NumPy for numerical computing
import numpy as np

# Import Pandas for data manipulation
import pandas as pd

# Import SciPy for scientific computing
import scipy as sp

# Import matplotlib for plotting
import matplotlib.pyplot as plt

# Import sklearn for machine learning
import sklearn

# Import csv for reading comma-separated values files
import csv

Question2:

In [76]:
# Opening supplied CSv file “Office”
df_Office = pd.read_csv("Office.csv") # Where df stands for DataFrame.
print(df_Office) # Outputs the attached csv file for you to see what it looks like

    OrderDate   Region      Rep     Item  Units  Unit Price
0   04-Jul-14     East  Richard  Pen Set     62        4.99
1   12-Jul-14     East     Nick   Binder     29        1.99
2   21-Jul-14  Central   Morgan  Pen Set     55       12.49
3   29-Jul-14     East    Susan   Binder     81       19.99
4   07-Aug-14  Central  Matthew  Pen Set     42       23.95
5   15-Aug-14     East  Richard   Pencil     35        4.99
6   24-Aug-14     West    James     Desk      3      275.00
7   01-Sep-14  Central    Smith     Desk      2      125.00
8   10-Sep-14  Central     Bill   Pencil      7        1.29
9   18-Sep-14     East  Richard  Pen Set     16       15.99
10  27-Sep-14     West    James      Pen     76        1.99
11  05-Oct-14  Central   Morgan   Binder     28        8.99
12  14-Oct-14     West   Thomas   Binder     57       19.99
13  22-Oct-14     East  Richard      Pen     64        8.99
14  31-Oct-14  Central   Rachel   Pencil     14        1.29
15  08-Nov-14     East    Susan      Pen     15       19.99
16  17-Nov-14  Central     Alex   Binder     11        4.99
17  25-Nov-14  Central  Matthew  Pen Set     96        4.99
18  04-Dec-14  Central     Alex   Binder     94       19.99
19  12-Dec-14  Central    Smith   Pencil     67        1.29
20  21-Dec-14  Central   Rachel   Binder     28        4.99
21  29-Dec-14     East    Susan  Pen Set     74       15.99
22  06-Jan-15     East  Richard   Pencil     95        1.99
23  15-Jan-15  Central     Bill   Binder     46        8.99
24  23-Jan-15  Central  Matthew   Binder     50       19.99
25  01-Feb-15  Central    Smith   Binder     87       15.00
26  09-Feb-15  Central     Alex   Pencil     36        4.99
27  18-Feb-15     East  Richard   Binder      4        4.99
28  26-Feb-15  Central     Bill      Pen     27       19.99
29  07-Mar-15     West    James   Binder      7       19.99
30  15-Mar-15     West    James   Pencil     56        2.99
31  24-Mar-15  Central     Alex  Pen Set     50        4.99
32  01-Apr-15     East  Richard   Binder     60        4.99
33  10-Apr-15  Central   Rachel   Pencil     66        1.99
34  18-Apr-15  Central   Rachel   Pencil     75        1.99
35  27-Apr-15     East     Nick      Pen     96        4.99
36  05-May-15  Central     Alex   Pencil     90        4.99
37  14-May-15  Central     Bill   Pencil     53        1.29
38  22-May-15     West   Thomas   Pencil     32        1.99
39  31-May-15  Central     Bill   Binder     80        8.99
40  08-Jun-15     East  Richard   Binder     60        8.99
41  17-Jun-15  Central  Matthew     Desk      5      125.00
42  25-Jun-15  Central   Morgan   Pencil     90        4.99

Question 3:

In [77]:
#To characterize the dataset we use the describe attribute
df_Office.describe()

           Units  Unit Price
count  43.000000   43.000000
mean   49.325581   20.308605
std    30.078248   47.345118
min     2.000000    1.290000
25%    27.500000    3.990000
50%    53.000000    4.990000
75%    74.500000   17.990000
max    96.000000  275.000000

Question 4:
Note: The np.random.random function used below is a NumPy function that generates an array of random numbers between 0 and 1 with the specified length.

In [79]:
# Creating two new variables X and Y with number of values matching length of columns in the imported CSV file

df_Office["X"] = np.random.random(len(df_Office)) #creates a new column named “X” in the DataFrame df_Office and assigns an array of random numbers to it with the same length as the DataFrame.
df_Office["Y"] = np.random.random(len(df_Office)) #creates an array of random numbers with the same length as the DataFrame and assigns it to another new column “Y”.
                                                  #The len(df_Office) function returns the number of elements in the DataFrame.

print(df_Office)

    OrderDate   Region      Rep     Item  Units  Unit Price         X  \
0   04-Jul-14     East  Richard  Pen Set     62        4.99  0.552621
1   12-Jul-14     East     Nick   Binder     29        1.99  0.200600
2   21-Jul-14  Central   Morgan  Pen Set     55       12.49  0.307710
3   29-Jul-14     East    Susan   Binder     81       19.99  0.702429
4   07-Aug-14  Central  Matthew  Pen Set     42       23.95  0.007268
5   15-Aug-14     East  Richard   Pencil     35        4.99  0.075181
6   24-Aug-14     West    James     Desk      3      275.00  0.985886
7   01-Sep-14  Central    Smith     Desk      2      125.00  0.406818
8   10-Sep-14  Central     Bill   Pencil      7        1.29  0.280563
9   18-Sep-14     East  Richard  Pen Set     16       15.99  0.718465
10  27-Sep-14     West    James      Pen     76        1.99  0.744291
11  05-Oct-14  Central   Morgan   Binder     28        8.99  0.407315
12  14-Oct-14     West   Thomas   Binder     57       19.99  0.258532
13  22-Oct-14     East  Richard      Pen     64        8.99  0.874599
14  31-Oct-14  Central   Rachel   Pencil     14        1.29  0.023431
15  08-Nov-14     East    Susan      Pen     15       19.99  0.595400
16  17-Nov-14  Central     Alex   Binder     11        4.99  0.269386
17  25-Nov-14  Central  Matthew  Pen Set     96        4.99  0.375449
18  04-Dec-14  Central     Alex   Binder     94       19.99  0.505868
19  12-Dec-14  Central    Smith   Pencil     67        1.29  0.312679
20  21-Dec-14  Central   Rachel   Binder     28        4.99  0.818859
21  29-Dec-14     East    Susan  Pen Set     74       15.99  0.043001
22  06-Jan-15     East  Richard   Pencil     95        1.99  0.915873
23  15-Jan-15  Central     Bill   Binder     46        8.99  0.298195
24  23-Jan-15  Central  Matthew   Binder     50       19.99  0.910685
25  01-Feb-15  Central    Smith   Binder     87       15.00  0.704044
26  09-Feb-15  Central     Alex   Pencil     36        4.99  0.381179
27  18-Feb-15     East  Richard   Binder      4        4.99  0.420993
28  26-Feb-15  Central     Bill      Pen     27       19.99  0.787816
29  07-Mar-15     West    James   Binder      7       19.99  0.460992
30  15-Mar-15     West    James   Pencil     56        2.99  0.591165
31  24-Mar-15  Central     Alex  Pen Set     50        4.99  0.745617
32  01-Apr-15     East  Richard   Binder     60        4.99  0.027783
33  10-Apr-15  Central   Rachel   Pencil     66        1.99  0.838467
34  18-Apr-15  Central   Rachel   Pencil     75        1.99  0.534156
35  27-Apr-15     East     Nick      Pen     96        4.99  0.361944
36  05-May-15  Central     Alex   Pencil     90        4.99  0.175275
37  14-May-15  Central     Bill   Pencil     53        1.29  0.507247
38  22-May-15     West   Thomas   Pencil     32        1.99  0.779717
39  31-May-15  Central     Bill   Binder     80        8.99  0.008011
40  08-Jun-15     East  Richard   Binder     60        8.99  0.243928
41  17-Jun-15  Central  Matthew     Desk      5      125.00  0.198446
42  25-Jun-15  Central   Morgan   Pencil     90        4.99  0.029195

           Y
0   0.070258
1   0.665391
2   0.236995
3   0.692844
4   0.351667
5   0.613717
6   0.326778
7   0.716994
8   0.617695
9   0.635235
10  0.165373
11  0.529104
12  0.214048
13  0.382259
14  0.666320
15  0.865056
16  0.396498
17  0.846629
18  0.336198
19  0.568687
20  0.432128
21  0.336132
22  0.958526
23  0.540518
24  0.356781
25  0.340138
26  0.993516
27  0.337984
28  0.634482
29  0.769131
30  0.148242
31  0.233887
32  0.316841
33  0.998717
34  0.453998
35  0.963258
36  0.958369
37  0.760827
38  0.117992
39  0.957149
40  0.170054
41  0.396210
42  0.928808

Question 5:

In [80]:
# Multiplies X by 100 to scale it to be within 0-100 value range

df_Office["X"] = df_Office["X"]*100 
print(df_Office["X"])

0     55.262055
1     20.059960
2     30.771033
3     70.242883
4      0.726831
5      7.518080
6     98.588556
7     40.681835
8     28.056312
9     71.846485
10    74.429111
11    40.731494
12    25.853246
13    87.459944
14     2.343063
15    59.540022
16    26.938574
17    37.544944
18    50.586822
19    31.267927
20    81.885921
21     4.300069
22    91.587283
23    29.819535
24    91.068475
25    70.404404
26    38.117899
27    42.099314
28    78.781552
29    46.099234
30    59.116494
31    74.561741
32     2.778321
33    83.846696
34    53.415593
35    36.194360
36    17.527453
37    50.724721
38    77.971743
39     0.801148
40    24.392777
41    19.844590
42     2.919490
Name: X, dtype: float64

In [81]:
# Multiplies Y by 100 to scale it to be within 0-100 value range

df_Office["Y"] = df_Office["Y"]*100
print(df_Office["Y"])

0      7.025840
1     66.539116
2     23.699484
3     69.284400
4     35.166719
5     61.371719
6     32.677819
7     71.699403
8     61.769529
9     63.523503
10    16.537258
11    52.910362
12    21.404827
13    38.225938
14    66.632005
15    86.505557
16    39.649771
17    84.662889
18    33.619785
19    56.868719
20    43.212833
21    33.613154
22    95.852607
23    54.051837
24    35.678115
25    34.013830
26    99.351561
27    33.798355
28    63.448185
29    76.913069
30    14.824174
31    23.388687
32    31.684101
33    99.871702
34    45.399754
35    96.325769
36    95.836911
37    76.082677
38    11.799243
39    95.714925
40    17.005377
41    39.620976
42    92.880767
Name: Y, dtype: float64

Question 6:

In [82]:
# Creating third variable named Z
df_Office["Z"] = df_Office["X"] + df_Office["Y"] # Adds the values of X and Y and assigns the sum to Z.
print(df_Office["Z"])

0      62.287895
1      86.599076
2      54.470516
3     139.527283
4      35.893550
5      68.889799
6     131.266375
7     112.381238
8      89.825840
9     135.369988
10     90.966368
11     93.641857
12     47.258073
13    125.685881
14     68.975068
15    146.045580
16     66.588345
17    122.207833
18     84.206607
19     88.136647
20    125.098754
21     37.913222
22    187.439890
23     83.871372
24    126.746590
25    104.418234
26    137.469460
27     75.897669
28    142.229738
29    123.012303
30     73.940668
31     97.950427
32     34.462422
33    183.718399
34     98.815347
35    132.520128
36    113.364364
37    126.807398
38     89.770986
39     96.516073
40     41.398153
41     59.465566
42     95.800257
Name: Z, dtype: float64

Question 7:

In [83]:
#Creating the forth variable ZZ

df_Office["ZZ"] = np.arange(len(df_Office)) # arranges the number of elements in ascending order starting from zero.
print(df_Office["ZZ"])

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
Name: ZZ, dtype: int32

Question 8:

In [84]:
# Combining X, Y, Z and ZZ to form a table T:

T = np.array ( list (zip (df_Office["X"], df_Office["Y"], df_Office["Z"], df_Office["ZZ"]))) # combines X, Y, Z, and ZZ as a list of array using Numpy, then assings the result to a new variable named T.
print(T)

[[ 55.26205468   7.02584002  62.2878947    0.        ]
 [ 20.05995955  66.53911617  86.59907571   1.        ]
 [ 30.77103282  23.69948353  54.47051634   2.        ]
 [ 70.24288341  69.28439993 139.52728334   3.        ]
 [  0.72683127  35.16671857  35.89354984   4.        ]
 [  7.5180802   61.37171872  68.88979892   5.        ]
 [ 98.58855594  32.67781869 131.26637463   6.        ]
 [ 40.68183542  71.6994028  112.38123822   7.        ]
 [ 28.05631153  61.76952897  89.8258405    8.        ]
 [ 71.84648479  63.52350317 135.36998796   9.        ]
 [ 74.4291108   16.5372577   90.96636849  10.        ]
 [ 40.73149449  52.91036206  93.64185654  11.        ]
 [ 25.85324589  21.40482747  47.25807336  12.        ]
 [ 87.45994353  38.22593767 125.6858812   13.        ]
 [  2.34306253  66.6320054   68.97506793  14.        ]
 [ 59.5400224   86.50555744 146.04557983  15.        ]
 [ 26.93857416  39.64977119  66.58834535  16.        ]
 [ 37.54494354  84.66288897 122.2078325   17.        ]
 [ 50.58682197  33.61978489  84.20660686  18.        ]
 [ 31.26792746  56.86871909  88.13664655  19.        ]
 [ 81.88592069  43.21283313 125.09875382  20.        ]
 [  4.30006879  33.61315353  37.91322232  21.        ]
 [ 91.58728327  95.85260701 187.43989027  22.        ]
 [ 29.81953483  54.0518371   83.87137193  23.        ]
 [ 91.06847476  35.67811507 126.74658984  24.        ]
 [ 70.4044041   34.01383023 104.41823433  25.        ]
 [ 38.11789894  99.35156066 137.4694596   26.        ]
 [ 42.09931449  33.79835457  75.89766906  27.        ]
 [ 78.78155231  63.44818522 142.22973753  28.        ]
 [ 46.09923447  76.91306862 123.01230309  29.        ]
 [ 59.11649442  14.82417352  73.94066794  30.        ]
 [ 74.5617406   23.38868654  97.95042714  31.        ]
 [  2.77832066  31.68410101  34.46242167  32.        ]
 [ 83.84669647  99.87170215 183.71839862  33.        ]
 [ 53.41559333  45.39975375  98.81534708  34.        ]
 [ 36.19435955  96.32576852 132.52012807  35.        ]
 [ 17.5274532   95.83691099 113.36436419  36.        ]
 [ 50.72472066  76.08267721 126.80739787  37.        ]
 [ 77.97174255  11.79924303  89.77098558  38.        ]
 [  0.80114828  95.71492513  96.51607341  39.        ]
 [ 24.39277655  17.00537657  41.39815312  40.        ]
 [ 19.84458973  39.62097581  59.46556554  41.        ]
 [  2.9194897   92.88076725  95.80025695  42.        ]]

#Question 9:

In [85]:
# Combining T with the original dataset imported from CSV named df_Office

df_newOffice = np.c_[df_Office, T] # concatenates df_Office DataFrame and T using the numpy.c_ function, then assings the result to a new DataFrame named df_newOffice.

# Print the new dataset
print(df_newOffice)

[['04-Jul-14' 'East' 'Richard' 'Pen Set' 62 4.99 55.262054679442365
  7.025840022940755 62.28789470238312 0 55.262054679442365
  7.025840022940755 62.28789470238312 0.0]
 ['12-Jul-14' 'East' 'Nick' 'Binder' 29 1.99 20.05995954606874
  66.53911616666002 86.59907571272876 1 20.05995954606874
  66.53911616666002 86.59907571272876 1.0]
 ['21-Jul-14' 'Central' 'Morgan' 'Pen Set' 55 12.49 30.77103281627721
  23.699483525183183 54.470516341460396 2 30.77103281627721
  23.699483525183183 54.470516341460396 2.0]
 ['29-Jul-14' 'East' 'Susan' 'Binder' 81 19.99 70.24288340970499
  69.28439992976621 139.52728333947118 3 70.24288340970499
  69.28439992976621 139.52728333947118 3.0]
 ['07-Aug-14' 'Central' 'Matthew' 'Pen Set' 42 23.95 0.7268312717792824
  35.16671856931241 35.89354984109169 4 0.7268312717792824
  35.16671856931241 35.89354984109169 4.0]
 ['15-Aug-14' 'East' 'Richard' 'Pencil' 35 4.99 7.518080200741917
  61.3717187237018 68.88979892444371 5 7.518080200741917 61.3717187237018
  68.88979892444371 5.0]
 ['24-Aug-14' 'West' 'James' 'Desk' 3 275.0 98.58855594224342
  32.67781868655955 131.26637462880296 6 98.58855594224342
  32.67781868655955 131.26637462880296 6.0]
 ['01-Sep-14' 'Central' 'Smith' 'Desk' 2 125.0 40.681835416417954
  71.69940280089642 112.38123821731438 7 40.681835416417954
  71.69940280089642 112.38123821731438 7.0]
 ['10-Sep-14' 'Central' 'Bill' 'Pencil' 7 1.29 28.05631153203563
  61.769528966278685 89.8258404983143 8 28.05631153203563
  61.769528966278685 89.8258404983143 8.0]
 ['18-Sep-14' 'East' 'Richard' 'Pen Set' 16 15.99 71.84648478911248
  63.523503168783236 135.36998795789572 9 71.84648478911248
  63.523503168783236 135.36998795789572 9.0]
 ['27-Sep-14' 'West' 'James' 'Pen' 76 1.99 74.42911079616404
  16.537257696773423 90.96636849293746 10 74.42911079616404
  16.537257696773423 90.96636849293746 10.0]
 ['05-Oct-14' 'Central' 'Morgan' 'Binder' 28 8.99 40.731494487960816
  52.9103620552533 93.64185654321412 11 40.731494487960816
  52.9103620552533 93.64185654321412 11.0]
 ['14-Oct-14' 'West' 'Thomas' 'Binder' 57 19.99 25.85324589043101
  21.404827470369558 47.258073360800566 12 25.85324589043101
  21.404827470369558 47.258073360800566 12.0]
 ['22-Oct-14' 'East' 'Richard' 'Pen' 64 8.99 87.45994353040962
  38.22593767141542 125.68588120182504 13 87.45994353040962
  38.22593767141542 125.68588120182504 13.0]
 ['31-Oct-14' 'Central' 'Rachel' 'Pencil' 14 1.29 2.343062534615037
  66.63200539802232 68.97506793263736 14 2.343062534615037
  66.63200539802232 68.97506793263736 14.0]
 ['08-Nov-14' 'East' 'Susan' 'Pen' 15 19.99 59.540022396698234
  86.5055574356356 146.04557983233383 15 59.540022396698234
  86.5055574356356 146.04557983233383 15.0]
 ['17-Nov-14' 'Central' 'Alex' 'Binder' 11 4.99 26.938574160094486
  39.649771185325555 66.58834534542004 16 26.938574160094486
  39.649771185325555 66.58834534542004 16.0]
 ['25-Nov-14' 'Central' 'Matthew' 'Pen Set' 96 4.99 37.54494353882792
  84.6628889651743 122.20783250400223 17 37.54494353882792
  84.6628889651743 122.20783250400223 17.0]
 ['04-Dec-14' 'Central' 'Alex' 'Binder' 94 19.99 50.58682197311792
  33.61978489088083 84.20660686399876 18 50.58682197311792
  33.61978489088083 84.20660686399876 18.0]
 ['12-Dec-14' 'Central' 'Smith' 'Pencil' 67 1.29 31.267927455590762
  56.868719091704264 88.13664654729503 19 31.267927455590762
  56.868719091704264 88.13664654729503 19.0]
 ['21-Dec-14' 'Central' 'Rachel' 'Binder' 28 4.99 81.8859206944291
  43.212833126978126 125.09875382140723 20 81.8859206944291
  43.212833126978126 125.09875382140723 20.0]
 ['29-Dec-14' 'East' 'Susan' 'Pen Set' 74 15.99 4.300068793460676
  33.61315352726376 37.91322232072444 21 4.300068793460676
  33.61315352726376 37.91322232072444 21.0]
 ['06-Jan-15' 'East' 'Richard' 'Pencil' 95 1.99 91.58728326910081
  95.85260700553366 187.43989027463448 22 91.58728326910081
  95.85260700553366 187.43989027463448 22.0]
 ['15-Jan-15' 'Central' 'Bill' 'Binder' 46 8.99 29.81953482859041
  54.051837104844836 83.87137193343524 23 29.81953482859041
  54.051837104844836 83.87137193343524 23.0]
 ['23-Jan-15' 'Central' 'Matthew' 'Binder' 50 19.99 91.06847476167388
  35.6781150744796 126.74658983615348 24 91.06847476167388
  35.6781150744796 126.74658983615348 24.0]
 ['01-Feb-15' 'Central' 'Smith' 'Binder' 87 15.0 70.40440409625205
  34.0138302309102 104.41823432716225 25 70.40440409625205
  34.0138302309102 104.41823432716225 25.0]
 ['09-Feb-15' 'Central' 'Alex' 'Pencil' 36 4.99 38.11789893768792
  99.35156066473118 137.4694596024191 26 38.11789893768792
  99.35156066473118 137.4694596024191 26.0]
 ['18-Feb-15' 'East' 'Richard' 'Binder' 4 4.99 42.09931448771641
  33.79835457299377 75.89766906071019 27 42.09931448771641
  33.79835457299377 75.89766906071019 27.0]
 ['26-Feb-15' 'Central' 'Bill' 'Pen' 27 19.99 78.78155230844371
  63.44818521847865 142.22973752692235 28 78.78155230844371
  63.44818521847865 142.22973752692235 28.0]
 ['07-Mar-15' 'West' 'James' 'Binder' 7 19.99 46.099234467046315
  76.91306862145282 123.01230308849914 29 46.099234467046315
  76.91306862145282 123.01230308849914 29.0]
 ['15-Mar-15' 'West' 'James' 'Pencil' 56 2.99 59.116494417639245
  14.824173517945116 73.94066793558436 30 59.116494417639245
  14.824173517945116 73.94066793558436 30.0]
 ['24-Mar-15' 'Central' 'Alex' 'Pen Set' 50 4.99 74.56174060418377
  23.388686535942803 97.95042714012658 31 74.56174060418377
  23.388686535942803 97.95042714012658 31.0]
 ['01-Apr-15' 'East' 'Richard' 'Binder' 60 4.99 2.7783206602132515
  31.68410100920649 34.46242166941974 32 2.7783206602132515
  31.68410100920649 34.46242166941974 32.0]
 ['10-Apr-15' 'Central' 'Rachel' 'Pencil' 66 1.99 83.84669646727019
  99.87170215321389 183.7183986204841 33 83.84669646727019
  99.87170215321389 183.7183986204841 33.0]
 ['18-Apr-15' 'Central' 'Rachel' 'Pencil' 75 1.99 53.41559333434035
  45.39975374583716 98.8153470801775 34 53.41559333434035
  45.39975374583716 98.8153470801775 34.0]
 ['27-Apr-15' 'East' 'Nick' 'Pen' 96 4.99 36.19435955414282
  96.3257685155768 132.52012806971962 35 36.19435955414282
  96.3257685155768 132.52012806971962 35.0]
 ['05-May-15' 'Central' 'Alex' 'Pencil' 90 4.99 17.527453200252285
  95.83691098670354 113.36436418695583 36 17.527453200252285
  95.83691098670354 113.36436418695583 36.0]
 ['14-May-15' 'Central' 'Bill' 'Pencil' 53 1.29 50.724720660451396
  76.08267721425229 126.80739787470368 37 50.724720660451396
  76.08267721425229 126.80739787470368 37.0]
 ['22-May-15' 'West' 'Thomas' 'Pencil' 32 1.99 77.97174254952157
  11.79924303398624 89.77098558350781 38 77.97174254952157
  11.79924303398624 89.77098558350781 38.0]
 ['31-May-15' 'Central' 'Bill' 'Binder' 80 8.99 0.8011482811795201
  95.71492512920939 96.51607341038891 39 0.8011482811795201
  95.71492512920939 96.51607341038891 39.0]
 ['08-Jun-15' 'East' 'Richard' 'Binder' 60 8.99 24.392776545751815
  17.0053765731506 41.398153118902414 40 24.392776545751815
  17.0053765731506 41.398153118902414 40.0]
 ['17-Jun-15' 'Central' 'Matthew' 'Desk' 5 125.0 19.84458972750621
  39.62097580865106 59.46556553615727 41 19.84458972750621
  39.62097580865106 59.46556553615727 41.0]
 ['25-Jun-15' 'Central' 'Morgan' 'Pencil' 90 4.99 2.9194896979104046
  92.88076725147403 95.80025694938443 42 2.9194896979104046
  92.88076725147403 95.80025694938443 42.0]]

#Question 10:

In [86]:
#  Calculating the Mean for Quantiative variables using the np.mean function from the numpy library.
# The [:, i] notation used here means to select all rows and the i-th column from the dataframe.


units_mean = np.mean(df_newOffice[:, 4])
unit_price_mean = np.mean(df_newOffice[:, 5])
X_mean = np.mean(df_newOffice[:, 6])
Y_mean = np.mean(df_newOffice[:, 7])
Z_mean = np.mean(df_newOffice[:, 8])
ZZ_mean = np.mean(df_newOffice[:, 9])

print("The Mean for Units is: ", units_mean)
print("The Mean for Unit Price is: ",unit_price_mean)
print("The Mean for X is: ",X_mean)
print("The Mean for Y is: ",Y_mean)
print("The Mean for Z is: ",Z_mean)
print("The Mean for ZZ is: ",ZZ_mean)

The Mean for Units is:  49.325581395348834
The Mean for Unit Price is:  20.308604651162792
The Mean for X is:  45.0862322956395
The Mean for Y is:  53.49170346612679
The Mean for Z is:  98.5779357617663
The Mean for ZZ is:  21.0

In [87]:
#Calculating Median for Quantitative Variables using the np.median function from the numpy library.
# The [:, i] notation used here means to select all rows and the i-th column from the dataframe.

units_median = np.median(df_newOffice[:, 4])
unit_price_median = np.median(df_newOffice[:, 5])
X_median = np.median(df_newOffice[:, 6])
Y_median = np.median(df_newOffice[:, 7])
Z_median = np.median(df_newOffice[:, 8])
ZZ_median = np.median(df_newOffice[:, 9])

In [88]:
print("The Median for Units is: ", units_median)
print("The Median for Unit Price is: ",unit_price_median)
print("The Median for X is: ",X_median)
print("The Median for Y is: ",Y_median)
print("The Median for Z is: ",Z_median)
print("The Median for ZZ is: ",ZZ_median)

The Median for Units is:  53.0
The Median for Unit Price is:  4.99
The Median for X is:  40.731494487960816
The Median for Y is:  52.9103620552533
The Median for Z is:  95.80025694938443
The Median for ZZ is:  21.0